# Day 2 - Intro to Python : Hello World

### 1. TASK: print "Hello World"

In [1]:
print("Hello World")

Hello World

### 2. print "Hello Noelle!" with the name in a variable

In [2]:
name = "Noelle"
print("Hello" , name)	# with a comma

Hello Noelle

In [3]:
print("Hello"+name)	# with a +

HelloNoelle

### 3. print "Hello 42!" with the number in a variable

In [4]:
name = 42
print("Hello" , name , "!")	# with a comma

Hello 42 !

In [5]:
print("Hello" + name + "!")	# with a +	-- this one should give us an error!

TypeError: can only concatenate str (not "int") to str

### 4. print "I love to eat sushi and pizza." with the foods in variables

In [6]:
fave_food1 = "sushi"
fave_food2 = "pizza"
print("I love to eat {} and {}.".format(fave_food1 , fave_food2)) # with .format()

I love to eat sushi and pizza.

In [7]:
print(f"I love to eat {fave_food1} and {fave_food2}.") # with an f string

I love to eat sushi and pizza.

### optinal

In [9]:
# %s --> string , %d --> number 
name = "Nada"
age = 23
print("My name is %s and im %d years old"%(name , age))

My name is Nada and im 23 years old

In [10]:
variable = .1234

f'{variable:.2%}'

'12.34%'

In [11]:
variable = .1234

'{:.2%}'.format(variable)

'12.34%'